<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><title> My Bank </title>
<link rel="stylesheet" type="text/css" href="first_page2_files/style.css">
</head><body><div class="page">
    <h1> My bank </h1>
    <div class="metanav">
        <a href="http://127.0.0.1:5000/login"> Log in as User</a>
    </div>
     <div class="metanav">
        <a href="http://127.0.0.1:5000/login"> Sign in as User</a>
    </div>
     <div class="metanav">
        <a href="http://127.0.0.1:5000/login"> Log in as Admin</a>
    </div>
     <div class="metanav">
        <a href="http://127.0.0.1:5000/login"> Sign in as Admin</a>
    </div>
    
    
</div></body></html>